/*** @jsx React.DOM */

window.Search = React.createClass({

  search: function(e){
    e.preventDefault();
    console.debug("hey you are inside search function :D") ; 
    var saveVal = this.props.saveValues
    var nextSt = this.props.nextStep
    $.ajax({
      url: "/lyrics/find_by_title",
      dataType: 'json',
      type: 'GET',
      data: {q: this.refs.songTitle.getDOMNode().value} ,
      success: function(data){
        console.debug(data) ; 
        console.debug(":] success on searching!") ; 
        // here persist the data to the next step
        if(data.length == 0){
          // search again msg
        }else{
          for(var i=0 ; i < data.length; i++){
            saveVal({id: data[i].id, title: data[i].title, artist: data[i].artist.name});
          }
          nextSt() ;  
        }
      },
      error: function(xhr,status,err){
        console.error(this.props.url, status, err.toString()) ; 
        console.debug(":[ failed~") ; 
      }
    });
  },

  render: function(){
    return(
      <div className="search-box">
        <div className="row">
          <div className="input-field col s12">
            <input placeholder="Search by song title" type="text" ref="songTitle" />
            <a className="waves-effect waves-light btn right enter-search-btn red accent-4" onClick={this.search}>Search</a>
          </div>
        </div>        
      </div>// end of search-box
    )
  }
})



